# Wildcards (*) don't match files/directories 
# that begin with a dot unless explicitly specified.
*env/
.env/
.venv/

# Go
go.mod
go.sum
main.go

# MacOS 
.DS_Store
.vscode/
.idea

# C++
cmake-build-debug/
build/
main